{% extends "base.html" %}
{% block Aboutactive %} active {% endblock Aboutactive %}

{% block title %}About{% endblock title %}
  {% block body %}



    
<div class="container">
    <h1 class="text-center">About me</h1>
    <h5><i>Hey Visitors! Happy to see you here on my website. I hope you come here with some passion and enthusiasm to learn . A little bit introduction about me so i have expertise in two computer languages which are javascript which is client based language and python which is server based language . i have also known so much tools like Git , Github,docker,django etc.And also i have created so many projects which i will show you in my classes which will help you to motivate and continue in this journey . Learning a language is a bit frustrating sometimes. but i will make it more easier and interesting you to learn . See you in course
    </i></h5>
  </div>
  

   
  </body>
</html>
{% endblock body %}